<h1>Forró Level</h1>

<p>These levels are used for filtering dancing moves</p>

<p *ngIf="!forroLevels"><em>Loading...</em></p>

<button type="button" class="btn btn-primary" (click)='addingNewMethod()'>Add New</button>
<div *ngIf="forroLevels.length>0">
  <table class='table'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Image</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let forroLevel of forroLevels">
        <td>{{ forroLevel.forroLevelId }}</td>
        <td>{{ forroLevel.name }}</td>
        <td><img src="{{ forroLevel.imageUrl }}" alt="{{forroLevel.name}}" width="50" height="70" *ngIf="forroLevel.imageUrl"/></td>
        <td>
          <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#exampleModal" (click)="deleteSelectedForroLevel(forroLevel.forroLevelId)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="addingNew">
  <form (ngSubmit)="insert()" #forroForm="ngForm">

    <label for="txtId">Id</label>
    <input type="number" class="form-control" id="txtId" name="txtId" required min="1" max="10"
           [(ngModel)]="forroLevelModel.forroLevelId">
    <div *ngIf="forroLevelIdInvalid" class="alert alert-danger">
      Forró Level is required and it must be between 1 and 10
    </div>

    <label for="txtLevel">Level</label>
    <input type="text" class="form-control" id="txtLevel" name="txtLevel" placeholder="Enter level name"
           required
           [(ngModel)]="forroLevelModel.name" minlength="4" #name="ngModel">

    <div *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required" class="alert alert-danger">
        Name is required
      </div>
      <div *ngIf="name.errors.minlength" class="alert alert-danger">
        Level name must be at least 4 characters long
      </div>
    </div>

    <label for="imageUpload">Image</label>
    <input type="file" class="form-control" id="imageUpload" name="imageUpload" required
           (change)="onFileChanged($event)"/>

    <br />
    <button type="submit" class="btn btn-primary" [disabled]="!forroForm.form.valid">Add New</button>
  </form>
</div>
